@media screen and (min-width: 350px) {
  .books {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

@media screen and (min-width: 550px) {
  .books {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }
}

@media screen and (min-width: 750px) {
  .books {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
  }
}

/* @media screen and (min-width: 950px) {
  .books {
    columns: 5;
    -webkit-columns: 5;
    -moz-columns: 5;
  }
} */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff
}

.books {
  list-style-type: none;
  justify-content: space-between;
  max-width: 95%;
  width: 750px;
  gap: 5px
}

.book {
  z-index: 1;
  margin: 5px;
  background: #2A2438;
  border-radius: 18px;
  min-width: 150px;
  min-height: 150px;
  padding: 1px 10px
}